body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 2px;
  color: green
}

.timer-container {
  text-align: center;
  margin-top: 20px;
  border: 10px solid green;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #A13637
}

#timer {
  font-size: 80px;
  color: green;
}

#period {
  font-size: 35px;
  margin-bottom: 10px;
  color: green;;
}

.buttons {
  margin-top: 20px; 
}

button {
  padding: 10px 20px;
  font-size: 20px;
  margin: 5px;
  color: #A13637;
  background-color: green;
  font-weight: bold;
}
